<!DOCTYPE html>

<html>
  <a href="/admin/tests/createBook">Create book</a>
  <a href="/admin/tests/createTrade">Create trade</a>
	<a href="/admin/tests/acceptTrade">Accept trade</a>
  <a href="/admin/tests/cancelTrade">Cancel trade</a>
  <a href="/admin/tests/editProfile">Edit profile</a>
</html>
